body {
  font-family: Impact;
  background-color: rgb(50,50,200);
}
.roomname {
  font-size: 30px;
  text-align: center;
  color: white;
}
.room {
  position: relative;
  height: 200px;
  border: 1px solid black;
  background-image: url(thirdstripes.png);
}
.description {
  padding: 10px;
  color: white;
}
#secondroom2entrance {
  width:50px;
  height:100px;
  display: inline-block;
  background-color: rgb(110,30,200);
  border: 10px ridge burlywood;
  border-bottom: none;
  padding: 10px;
  color:white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 10;
}

#secondroom2thirdroom {
  width:50px;
  height:100px;
  display: inline-block;
  background-color: DimGrey;
  border: 10px ridge burlywood;
  border-bottom: none;
  padding: 10px;
  color:chartreuse;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 10;
}
